body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
  "Arial", sans-serif;
  margin: 0;
}
.container {
  width: 100%;
  background: url("./Bitmap.jpg") no-repeat center;
  display: flex;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.login-block {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.8122);
  border-radius: 5px;
  margin: 0 auto;
}

.login-block h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 3 0px;
  font-weight: 200;
}

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 0 0 0 20px;
  outline: none;
}

.login-block input#username {
  background: #fff;
  border: none;
}

.login-block input#password {
  background: #fff;
  border: none;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #0578ff;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}

.login-block button:hover {
  background: 1px solid #7dbaff;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  height: auto;
}
.login-block label {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 20px;
}
.chechbox-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.help {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  text-decoration: none;
}
.facebook-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 18px;
  font-size: 14px;
}
.facebook-text {
  margin-left: 8px;
  text-decoration: none;
  color: #fff;
}
.first-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
}
footer {
  background-color: black;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questions {
  font-size: 30px;
  width: 80%;
  flex-direction: row;
  justify-content: start;
}
.footer-columns {
  display: flex;
  content: "";
  display: table;
  clear: both;
  width: 80%;
  justify-content: start;
}
.list {
  padding: 0;
  width: 100%;
  margin-top: 50px;
  column-count: 4;
  list-style-type: none;
}
li {
  padding-top: 10px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
.subscribe {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}